/**
*
*   Monash University
*   Forms (Integrated styles for Marketo Forms)
*
**/





/*
    Base styles
*/


form label {
    display: block;
}

.mktoAsterix {
    padding: 0 .5em 0 0;
    color: #ff0000;
}

.mktoAsterix,
input[type=checkbox]+label {
    display: inline-block;
}

.mktoError {
    position: absolute;
    right: initial !important;
    bottom: initial !important;
}

form label,
.mktoClear {
    padding: .25em;
}

input,
select,
textarea {
    font-size: 1.2em;
}

input,
textarea {
    padding: .5em;
    resize: none;
}

textarea {
    min-width: 20em;
    min-height: 6em;
}