/**
*
*   Monash University
*   Templates
*
**/

/* One Pager */

li.list-menu-item.active a {
    background-color: #0d74e6;
    color: #fff;
}

.asset.relative.layer-0:hover {
    z-index: 1;
}

/* Scroll to top button */

.return-to-top-navigation {
    transform: translate(100px,0px);
    -webkit-transform: translate(100px,0px);
    -moz-transform: translate(100px,0px);
    -ms-transform: translate(100px,0px);
}

.scrolled-down .return-to-top-navigation {
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
}


