/**
*
*   Monash University
*   Frontend Editor
*
*
**/





/*
    Editable Fields
*/

*[data-editable=true] {
    border-radius: 2px;
    padding: 10px;
    margin: -10px;
    cursor: text;
    transition: .1s;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0), 0 0 1px rgba(0, 0, 0, 0), inset 0 1px 0 rgba(255, 255, 255, 0);
}
    
body.edit-hints *[data-editable=true] {
    background-color: rgba(102, 255, 193, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px rgba(0, 0, 0, 0.75), inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

body.edit-hints *[data-editable=true]:hover,
*[data-editable=true]:hover {
    background-color: rgba(255,255,255,.085);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2), 0 0 2px rgb(0, 0, 0), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

body.edit-hints *[data-editable=true][contenteditable=true]:focus,
*[data-editable=true][contenteditable=true]:focus {
    outline: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), inset 0 1px 0 rgba(0,0,0,.1), 0 1px 1px rgba(255,255,255,.2);
    background-color: rgba(0,0,0,.1);
}

body.edit-hints *[data-editable=true].changed,
body.edit-hints *[data-editable=true].changed:focus,
body.edit-hints *[data-editable=true].changed:hover,
body.edit-hints *[data-editable=true].changed *,
body.edit-hints *[data-editable=true].changed:focus *,
body.edit-hints *[data-editable=true].changed:hover *,
*[data-editable=true].changed,
*[data-editable=true].changed:focus,
*[data-editable=true].changed:hover,
*[data-editable=true].changed *,
*[data-editable=true].changed:focus *,
*[data-editable=true].changed:hover * {
    color: #5D572A;
}

body.edit-hints *[data-editable=true].changed,
body.edit-hints *[data-editable=true].changed:focus,
body.edit-hints *[data-editable=true].changed:hover,
*[data-editable=true].changed,
*[data-editable=true].changed:focus,
*[data-editable=true].changed:hover {
    background-color: rgb(255, 251, 221);
    box-shadow: inset 0 0 1px rgb(117, 112, 75), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0,0,0,.3);
}

body.edit-hints *[data-editable=true].changed:focus,
*[data-editable=true].changed:focus {
    color: #000;
}

a i.fa+span[data-editable=true] {
    margin-left: 10px;
}

.error-highlight {
    background-color: rgba(255, 95, 95, 0.2);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px rgba(255, 0, 0, 1), inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 2px 1px rgba(0,0,0,.3);
    border-radius: 1px;
    padding: 10px;
    margin: -11px;
    cursor: not-allowed;
    transition: .1s;
    position: relative;
    z-index: 1;
    border: 1px dotted #ff0000;
}

.CodeMirror-code {
    font-size: 1rem;
    line-height: 1.2rem;
}

.drop-box {
    top: 2%;
    right: 2%;
    bottom: 2%;
    left: 2%;
    background-color: rgba(0,0,0,.1);
    border: 2px dashed rgba(34, 34, 34, 0.55);
    border-radius: 5px;
}

.list-upload-helper {
    width: 20em;
    height: 15em;
}

body.edit-hints .drop-box,
.drop-box.active {
    border: 2px dashed rgba(34, 34, 34, 0.85);
    background-color: rgba(0,0,0,.4);
    box-shadow: inset 0 2px 11px rgba(0,0,0,.85), 0 1px 1px rgba(255, 255, 255, 0.5);
}

.drop-box.active {
    background-color: rgba(22,22,22,.5);
    border-color: #222;
}

.drop-box.active.primed {
    background-color: rgba(11,11,11,.65);
}

.absolute.list-menu-wrapper {
    width: 11em;
}

.live {
    color: #00E220;
    background-color: #EFFFF1;
}

.under_construction {
    color: #208AFF;
    background-color: #F2F9FF;
}

.archived {
    color: #DED5C3;
    background-color: #F9F7F3;
}

.safe_editing {
    color: #FF20C1;
    background-color: #FFF1FB;
}

[data-type="raw_html"] > div[data-editable] {
    padding: 1em;
    min-height: 15em;
    background-color: #ddd;
}